.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  background-color: #50aadd;
  opacity: 0.8;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resultText {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  padding: 24px;
}

.newGameButton {
  font-size: 18px;
  padding: 16px 72px;
  border: none;
  border-radius: 36px;
  outline: none;
  font-weight: bold;
  background-color: #fff;
  color: #50aadd;
  cursor: pointer;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
